*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: whitesmoke;
}
.container {
    display: flex;
    width: 80%;
    justify-content: center;
    padding: 10px;
    height: 600px;
    margin: 0 auto;
}